textarea {
    resize: none;
    /* margin:0px 0px; this is redundant anyways since its specified below*/
    padding-top: 10px;
    padding-bottom: 25px;
    /* increased! */
    /* height:16px; */
    /* line-height:16px; */
    width: 100%;
    /* changed from 96 to 100% */
    display: block;
   
}
.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 80px;
    cursor: pointer;
}

.box{


  
  box-shadow:0 2px 3px rgba(black, 0.1), 0 0 0 1px rgba(black, 0.1) ;
}
  
a.box
  &:hover,
  &:focus
    box-shadow: $box-link-hover-shadow
  &:active
    box-shadow: $box-link-active-shadow
