textarea {
    resize: none;
    /* margin:0px 0px; this is redundant anyways since its specified below*/
    padding-top: 10px;
    padding-bottom: 25px;
    /* increased! */
    /* height:16px; */
    /* line-height:16px; */
    width: 100%;
    /* changed from 96 to 100% */
    display: block;
   
}
.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 80px;
    cursor: pointer;
}
.selectedcolor{
  border-radius: 20px;
  padding: 10px 10px;
}
.note{
  border-radius: 10px;
}
.p-width{
  max-width: 100px;
}
.b.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}